body {
    background-color: #FFFFFF;
}

.container {
  width: 750px;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
  color: #454545;
  font-family: Cabin, sans-serif;
  position: relative;
}

#nav {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  width: 100%;
}

h1 {
  font-size: 54px;
  color: #eabe0a
}

h2 {
  font-size: 32px;
}

p {
  font-size: 24px;
  line-height: 1.8;
}

li {
  font-size: 24px;
  line-height: 1.8;
}

a {
  text-decoration: none;
  padding: 3px 6px;
  background: #62ae9d;
  color: white;
}
